{% extends 'layout.html' %}
{% block content %}

<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div style="display: inline-block;">
                    <img class="rounded-circle img-fluid" src="{{ image_file }}">
                </div>
                <div class="pl-5" style="display: inline-block;">
                    <h2>{{ current_user.username }}</h2>
                    <p class="text-secondary">{{ current_user.email }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4">
                <form method="POST" action="" , enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">
                            Account Info
                        </legend>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
                            {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.picture.label(class="form-control-label") }}
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="submit-btn">
                        {{ form.submit(class="btn")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}